In [2]:
#Reading in the input tables A, B.
import py_entitymatching as em

songs = em.read_csv_metadata('../DATA/songs.csv',low_memory = False)
tracks = em.read_csv_metadata('../DATA/tracks.csv',low_memory = False)

em.set_key(songs, 'id')
em.set_key(tracks, 'id')

True

In [3]:
#Downsampling of the input tables, if any.
sample_songs, sample_tracks = em.down_sample(songs, tracks, size=3500, y_param=1, show_progress=True)

0%                          100%
[##############################] | ETA: 00:02:21 | ETA: 00:02:16 | ETA: 00:02:10 | ETA: 00:02:13 | ETA: 00:02:03 | ETA: 00:01:57 | ETA: 00:01:53 | ETA: 00:01:48 | ETA: 00:01:41 | ETA: 00:01:34 | ETA: 00:01:29 | ETA: 00:01:26 | ETA: 00:01:21 | ETA: 00:01:15 | ETA: 00:01:09 | ETA: 00:01:04 | ETA: 00:00:59 | ETA: 00:00:54 | ETA: 00:00:50 | ETA: 00:00:45 | ETA: 00:00:40 | ETA: 00:00:35 | ETA: 00:00:30 | ETA: 00:00:26 | ETA: 00:00:22 | ETA: 00:00:17 | ETA: 00:00:13 | ETA: 00:00:08 | ETA: 00:00:04 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:02:10

In [9]:
"""
Applying the blocker (or blocking sequence) on the input (or downsampled) tables to get the candidate set C. This step should include:
    Applying the blocker to the input (or downsampled) tables in the first iteration.
    If the blocker output was debugged (using debug_blocker) then provide a brief description of what was observed and how the blocker (or blocking sequence) was modified.  
    Applying the modified blocker (or blocking sequence).
    Repeat the steps b and c for all the debug iterations.
    Provide a brief description on how did you decide to stop modifying the blocker (or blocking sequence).
"""
songs = em.read_csv_metadata('../DATA/song_sample.csv',low_memory = False)
tracks = em.read_csv_metadata('../DATA/track_sample.csv',low_memory = False)	

em.set_key(songs, 'id')
em.set_key(tracks, 'id')

True

In [10]:
# Our first pass is an overlap blocker on the name of the song
ob = em.OverlapBlocker()
candidate_pairs = ob.block_tables(songs, tracks, 'name', 'name', 
					word_level=True, 
					overlap_size=1, 
                    l_output_attrs=['name', 'artist', 'year'], 
                    r_output_attrs=['name', 'artist','year'],
					allow_missing=True,
                    show_progress=True)

0%                          100%
[##############################] | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:02
0%  100%
[##] | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00

Finding pairs with missing value...

Total time elapsed: 00:00:00

In [11]:
# We have ~500k candidates
len(candidate_pairs)

550199

In [12]:
# None of them appear to be false negatives, so we will proceed with another layer 
# to the blocker.
dbg = em.debug_blocker(candidate_pairs,songs,tracks,output_size = 50)
dbg.head()

,_id,similarity,ltable_id,rtable_id,ltable_name,ltable_artist,rtable_name,rtable_artist
0,0,0.555556,952059,159733,proud mary,twinkle twinkle little rock star,mr. robot,twinkle twinkle little rock star
1,1,0.500000,27694,507409,outro,godspeed you! black emperor,la doppia ora,godspeed you! black emperor
2,2,0.500000,517682,185360,supermodels,kendall payne,popular,kendall payne
3,3,0.500000,937077,47463,i believe,blessid union of souls,cold case,blessid union of souls
4,4,0.500000,939748,35017,black coffee,the pointer sisters,braindead,the pointer sisters

In [13]:
# Now, we will block on the artist.
c2 = ob.block_candset(candidate_pairs, 'artist', 'artist',
					word_level=True, 
					overlap_size=1, 
					show_progress=True)

0%                          100%
[##############################] | ETA: 00:00:10 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:11

In [14]:
# Now, we have about 7k candidates. Still too many.
len(c2)

6416

In [15]:
# Again, none of them appear to be false negatives, but there are still too many. We will
# proceed with another layer to the blocker.
dbg = em.debug_blocker(c2,songs,tracks,output_size = 50)
dbg.head(20)

,_id,similarity,ltable_id,rtable_id,ltable_name,ltable_artist,rtable_name,rtable_artist
0,0,0.800000,953818,57898,dancing with the stars,telecast,dancing with the stars,NaN
1,1,0.666667,890173,24816,beauty and the beast,antiloop,beauty and the beast,mideau
2,2,0.666667,912378,445132,free state of jones,cary hudson,free state of jones,NaN
3,3,0.625000,759553,607405,scusa ma ti voglio sposare,sugarfree,scusa ma ti voglio sposare,zero assoluto
4,4,0.600000,534052,701089,toute première fois,kate ryan,toute première fois,NaN
5,5,0.600000,679695,138223,lie to me,jonny lang,lie to me,NaN
6,6,0.571429,890173,24825,beauty and the beast,antiloop,beauty and the beast,timber timbre
7,7,0.571429,953818,57740,dancing with the stars,telecast,dancing with the stars,isham jones
8,8,0.571429,953818,58471,dancing with the stars,telecast,dancing with the stars,robert palmer
9,9,0.571429,953818,57589,dancing with the stars,telecast,dancing with the stars,john farrar
10,10,0.571429,920094,455009,gone with the wind,the jazz messengers,gone with the wind,NaN
11,11,0.571429,529771,478799,i dream of wires,robert palmer,i dream of wires,solvent
12,12,0.571429,953818,57936,dancing with the stars,telecast,dancing with the stars,barry manilow
13,13,0.571429,953818,58911,dancing with the stars,telecast,dancing with the stars,john kander
14,14,0.555556,952059,159733,proud mary,twinkle twinkle little rock star,mr. robot,twinkle twinkle little rock star
15,15,0.555556,439194,620978,soft lights and sweet music,charlie byrd,soft lights and sweet music,donald stewart
16,16,0.500000,822011,198104,everlong,foo fighters,roswell,foo fighters
17,17,0.500000,781440,636084,ljubav je za ljude sve,srebrna krila,sve je za ljude,zorana
18,18,0.500000,863096,429885,new york city live,js16,eminem: live from new york city,eminem
19,19,0.500000,953818,57798,dancing with the stars,telecast,dancing with the stars,john lennon+paul mccartney

In [16]:
# Let's cut out candidates which do not meet a minimum Jaccard similarity when 
# comparing song names.
block_f = em.get_features_for_blocking(songs,tracks)	
block_c = em.get_attr_corres(songs,tracks)
block_t = em.get_tokenizers_for_blocking()
block_s = em.get_sim_funs_for_blocking()

atypes1 = em.get_attr_types(songs)
atypes2 = em.get_attr_types(tracks)

block_f = em.get_features(songs, tracks, atypes1, atypes2, block_c, block_t, block_s)

rb = em.RuleBasedBlocker()
rb.add_rule(["name_name_jac_dlm_dc0_dlm_dc0(ltuple, rtuple) < 0.20"], block_f)

c3 = rb.block_candset(c2,
                    show_progress=True)

0%                          100%
[                              ]0%                          100%
[##############################] | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:01

In [17]:
# That's more manageable. They seem like reasonable candidates, and there are no false
# negatives seen when debugging.
len(c3)

646

In [19]:
dbg = em.debug_blocker(c3,songs,tracks,output_size = 50)
dbg.head()

,_id,similarity,ltable_id,rtable_id,ltable_name,ltable_artist,rtable_name,rtable_artist
0,0,0.800000,953818,57898,dancing with the stars,telecast,dancing with the stars,NaN
1,1,0.666667,890173,24816,beauty and the beast,antiloop,beauty and the beast,mideau
2,2,0.666667,912378,445132,free state of jones,cary hudson,free state of jones,NaN
3,3,0.625000,759553,607405,scusa ma ti voglio sposare,sugarfree,scusa ma ti voglio sposare,zero assoluto
4,4,0.600000,534052,701089,toute première fois,kate ryan,toute première fois,NaN

In [21]:
#Reading in the labeled sample G (and show some examples of G).
#
# We labeled ~550 candidates and removed entries with missing data.
labeled_candidates = em.read_csv_metadata('../DATA/golden_labeled_all_missing_removed.csv', 
                                          key = '_id',ltable = songs, rtable = tracks, 
                                          fk_ltable='ltable_id', fk_rtable='rtable_id',encoding='utf-8')
# For some reason, the UTF-8 encoding is misbehaving and not represented correctly.
# Nevertheless, it is apparent that these are reasonable candidates.
labeled_candidates.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_artist_name,ltable_year,rtable_song,rtable_artists,rtable_year,gold
0,496,139378,657758,"(((t)), ((i)), ((g)), ((e)), ((r)), (( )), ((r)), ((a)), ((g)))","(((p)), ((r)), ((e)), ((s)), ((e)), ((r)), ((v)), ((a)), ((t)), ((i)), ((o)), ((n)), (( )), ((h)...",1989,"(((t)), ((i)), ((g)), ((e)), ((r)), (( )), ((r)), ((a)), ((g)))","(((t)), ((h)), ((e)), (( )), ((o)), ((r)), ((i)), ((g)), ((i)), ((n)), ((a)), ((l)), (( )), ((d)...",1947.0,0
1,1273,590234,270943,"(((t)), ((o)), ((o)), (( )), ((l)), ((i)), ((t)), ((t)), ((l)), ((e)), (( )), ((t)), ((o)), ((o)...","(((b)), ((a)), ((r)), ((e)), ((n)), ((a)), ((k)), ((e)), ((d)), (( )), ((l)), ((a)), ((d)), ((i)...",0,"(((t)), ((o)), ((o)), (( )), ((l)), ((i)), ((t)), ((t)), ((l)), ((e)), (( )), ((t)), ((o)), ((o)...","(((s)), ((t)), ((e)), ((v)), ((e)), ((n)), (( )), ((p)), ((a)), ((g)), ((e)), ((+)), ((e)), ((d)...",2003.0,1
2,2353,745750,575882,"(((i)), (( )), ((d)), ((o)), ((n)), ((')), ((t)), (( )), ((c)), ((a)), ((r)), ((e)), (( )), ((a)...","(((p)), ((h)), ((i)), ((l)), (( )), ((c)), ((o)), ((l)), ((l)), ((i)), ((n)), ((s)))",0,"(((i)), (( )), ((d)), ((o)), ((n)), ((t)), (( )), ((c)), ((a)), ((r)), ((e)), (( )), ((a)), ((n)...","(((p)), ((h)), ((i)), ((l)), (( )), ((c)), ((o)), ((l)), ((l)), ((i)), ((n)), ((s)))",1983.0,1
3,2663,766248,231528,"(((w)), ((h)), ((e)), ((r)), ((e)), (( )), ((d)), ((i)), ((d)), (( )), ((o)), ((u)), ((r)), (( )...","(((t)), ((h)), ((e)), (( )), ((s)), ((u)), ((p)), ((r)), ((e)), ((m)), ((e)), ((s)))",1964,"(((w)), ((h)), ((e)), ((r)), ((e)), (( )), ((d)), ((i)), ((d)), (( )), ((o)), ((u)), ((r)), (( )...","(((l)), ((a)), ((m)), ((o)), ((n)), ((t)), (( )), ((d)), ((o)), ((z)), ((i)), ((e)), ((r)), ((+)...",2005.0,1
4,2907,389190,82676,"(((l)), ((-)), ((o)), ((-)), ((v)), ((-)), ((e)))","(((j)), ((o)), ((s)), ((s)), (( )), ((s)), ((t)), ((o)), ((n)), ((e)))",2007,"(((l)), ((-)), ((o)), ((-)), ((v)), ((-)), ((e)))","(((j)), ((o)), ((s)), ((s)), (( )), ((s)), ((t)), ((o)), ((n)), ((e)))",2012.0,1

In [22]:
# Splitting the labeled set G into a development set I and an evaluation set J.
IJ = em.split_train_test(labeled_candidates, train_proportion=0.7, random_state=0)
I = IJ['train']
J = IJ['test']

In [23]:
len(I)

373

In [24]:
len(J)

160

In [25]:
# Creating a set of ML-matchers.
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

In [26]:
"""
Selecting the best matcher using I. This step should include:
    Creating a feature table F.
    Converting I into a set H of feature vectors (using the features in F).
    Filling in the missing values if any in H.
    Selecting the best matcher in the first iteration using cross-validation.
    If the matcher was debugged then provide a brief description of what was observed and how the matcher/data/features were modified (show commands for each of the modification done).
    Selecting the best matcher again using cross-validation.
    Repeat the steps e and f for all the debug iterations.
"""
feature_table = em.get_features_for_matching(songs, tracks)

H = em.extract_feature_vecs(I, 
                            feature_table=feature_table, 
                            attrs_after='gold',
                            show_progress=False)

result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='precision', random_state=0)

In [27]:
# The Logistic Regression model achieves the maximum mean precision
# score, so we will use that one. No debugging was performed.
print result

OrderedDict([('selected_matcher', <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7fe6c46d52d0>), ('cv_stats',            Name  \
0  DecisionTree
1            RF
2           SVM
3        LinReg
4        LogReg
5    NaiveBayes

                                                                            Matcher  \
0          <py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x7fe7096ae7d0>
1          <py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x7fe6c4895fd0>
2        <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x7fe7096ae910>
3  <py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x7fe6c48954d0>
4  <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7fe6c46d52d0>
5          <py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x7fe6c468fa10>

   Num folds    Fold 1    Fold 2    Fold 3    Fold 4    Fold 5  Mean score
0          5  0.895833  0.909091  0.846154  0.910714  0.872727    0.886904
1          5  0.905660  0.924528  0.851852  0.960784  0.923077    0.913180
2          5  0.796875  0.800000  0.738462  0.828125  0.784615    0.789615
3          5  0.944444  0.979167  0.865385  0.942308  0.870370    0.920335
4          5  0.927273  0.959184  0.860000  0.962264  0.925926    0.926929
5          5  0.900000  0.926829  0.820513  0.969697  0.800000    0.883408  )])

In [29]:
# Recall:
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='recall', random_state=0)
print result

OrderedDict([('selected_matcher', <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x7fe7096ae910>), ('cv_stats',            Name  \
0  DecisionTree
1            RF
2           SVM
3        LinReg
4        LogReg
5    NaiveBayes

                                                                            Matcher  \
0          <py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x7fe7096ae7d0>
1          <py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x7fe6c4895fd0>
2        <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x7fe7096ae910>
3  <py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x7fe6c48954d0>
4  <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7fe6c46d52d0>
5          <py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x7fe6c468fa10>

   Num folds    Fold 1    Fold 2    Fold 3    Fold 4    Fold 5  Mean score
0          5  0.826923  0.816327  0.916667  0.962264  0.905660    0.885568
1          5  0.923077  1.000000  0.958333  0.924528  0.905660    0.942320
2          5  0.980769  0.979592  1.000000  1.000000  0.962264    0.984525
3          5  0.980769  0.959184  0.937500  0.924528  0.886792    0.937755
4          5  0.980769  0.959184  0.895833  0.962264  0.943396    0.948289
5          5  0.692308  0.775510  0.666667  0.603774  0.528302    0.653312  )])

In [30]:
# F1:
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='f1', random_state=0)
print result

OrderedDict([('selected_matcher', <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7fe6c46d52d0>), ('cv_stats',            Name  \
0  DecisionTree
1            RF
2           SVM
3        LinReg
4        LogReg
5    NaiveBayes

                                                                            Matcher  \
0          <py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x7fe7096ae7d0>
1          <py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x7fe6c4895fd0>
2        <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x7fe7096ae910>
3  <py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x7fe6c48954d0>
4  <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7fe6c46d52d0>
5          <py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x7fe6c468fa10>

   Num folds    Fold 1    Fold 2    Fold 3    Fold 4    Fold 5  Mean score
0          5  0.860000  0.860215  0.880000  0.935780  0.888889    0.884977
1          5  0.914286  0.960784  0.901961  0.942308  0.914286    0.926725
2          5  0.879310  0.880734  0.849558  0.905983  0.864407    0.875998
3          5  0.962264  0.969072  0.900000  0.933333  0.878505    0.928635
4          5  0.953271  0.959184  0.877551  0.962264  0.934579    0.937370
5          5  0.782609  0.844444  0.735632  0.744186  0.636364    0.748647  )])

In [60]:
"""
Evaluating the best matcher Y using J. This step should include:
    Converting J into a set L of feature vectors.
    Filling in the missing values if any in L.
    Training the best matcher Y using I.
    Computing the accuracy of Y
"""
L = em.extract_feature_vecs(J, feature_table=feature_table,
                            attrs_after='gold', show_progress=False)

lg.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

predictions = lg.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

eval_result = em.eval_matches(predictions, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 95.76% (113/118)
Recall : 96.58% (113/117)
F1 : 96.17%
False positives : 5 (out of 118 positive predictions)
False negatives : 4 (out of 42 negative predictions)

In [38]:
# These are to produce data for the PDF writeup.
"""
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')
"""

for (ml,name) in zip([dt,rf,svm,ln,nb], 
                    ['Decision Tree', 'Random Forest', 'SVM', 'Linear Regression', 'Naive Bayes']):
    ml.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

    predictions = ml.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

    eval_result = em.eval_matches(predictions, 'gold', 'predicted')
    print name
    em. (eval_result)
    print

Decision Tree
Precision : 90.16% (110/122)
Recall : 94.02% (110/117)
F1 : 92.05%
False positives : 12 (out of 122 positive predictions)
False negatives : 7 (out of 38 negative predictions)

Random Forest
Precision : 95.73% (112/117)
Recall : 95.73% (112/117)
F1 : 95.73%
False positives : 5 (out of 117 positive predictions)
False negatives : 5 (out of 43 negative predictions)

SVM
Precision : 81.69% (116/142)
Recall : 99.15% (116/117)
F1 : 89.58%
False positives : 26 (out of 142 positive predictions)
False negatives : 1 (out of 18 negative predictions)

Linear Regression
Precision : 96.64% (115/119)
Recall : 98.29% (115/117)
F1 : 97.46%
False positives : 4 (out of 119 positive predictions)
False negatives : 2 (out of 41 negative predictions)

Naive Bayes
Precision : 97.22% (70/72)
Recall : 59.83% (70/117)
F1 : 74.07%
False positives : 2 (out of 72 positive predictions)
False negatives : 47 (out of 88 negative predictions)